<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zumgugger <%= content_for?(:title) ? "- "+yield(:title) : ""%></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    

  <body>
  <div class="middle middle-m middle-mobile"> <!-- Responsive margin left and right -->
    <div id="wrapper"> <!-- Give a relative position and expand to child element-->
        <%= render "/layouts/header" %>
            <div class="content">
                <%= yield %>
            </div>
        <%= render "/layouts/footer" %>
 
    </div>
  </div>
      
    
  </body>
</html>
